.goBackButton {
    background: linear-gradient(to bottom, #E5823E, #C26444);
    color: white;
    padding: 0.9rem 2rem;
    border: none;
    border-radius: 50px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .goBackButton:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(229, 130, 62, 0.3);
  }