/* Footer.module.css */
.footer {
    background: linear-gradient(to bottom,
        #F3C44D 25%,
        #E5823E 25% 50%,
        #C26444 50% 75%,
        #891547 75%
        );
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color: white;
    border-top: 1px solid #e9ecef;
    margin-top: 20px;
}