@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: 'Montserrat', 'sans-serif';
}



.show-enter {
    opacity: 0;
    transform: translateY(20%);
}

.show-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
}

.show-exit {
    opacity: 1;
}

.show-exit-active {
    opacity: 0;
    transform: translateY(20%);
    transition: opacity 300ms, transform 300ms;
}